* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    background: #dfebed;
    font-family: 'Roboto', sans-serif;
  }